{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "block-like",
        "next": "*"
      }
    ],
    "padded-blocks": [
      "error",
      "never"
    ],
    "curly": [
      "error",
      "multi-or-nest"
    ],
    "eqeqeq": [
      "error"
    ],
    "react/prop-types": 0
  }
}
