$shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('fonts/Geometria-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/Geometria-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('fonts/Geometria-Regular.woff2') format('woff2');
}

body {
  font-family: 'Geometria', sans-serif;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: initial;
}

.header {
  width: 100%;
  height: 85px;
  box-shadow: $shadow;
  padding: 22px 0 22px 123px;
  position: fixed;
  top: 0;
  background: #FFFFFF;
  z-index: 1;
  @media (max-width: 380px) {
    padding-left: 30px;
  }
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__profile{
    &::before{
      content: 'by';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #000000;
      margin: 0 5px;
    }
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #49C2E8;
    @media (max-width: 380px) {
      display: none;
    }
  }

  &__logo {
    position: relative;
    width: 42px;
    height: 42px;
    margin-right: 45px;

    &::before, &::after {
      box-sizing: border-box;
      position: absolute;
      border: 5px solid #49C2E8;
      border-radius: 50%;
      content: "";
    }

    &::before {
      width: 100%;
      height: 100%;
    }

    &::after {
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  @media (max-width: 380px) {
    padding: 3%;
  }

  &_page_main {
    margin-top: 160px;
    grid-template-columns: 300px auto 340px;
    @media (max-width: 380px) {
      grid-template-columns: 335px;
      margin-top: 105px;
    }
  }
  &_page_create{
    margin-top: 85px;
  }

  &__title {
    margin: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    @media (max-width: 380px) {
      margin-bottom: 22px;
    }

    &_page_create {
      grid-row-start: 2;
      margin: 0;
    }
  }

  &__button {
    grid-row-start: 1;
    grid-column-start: 3;
    @media (max-width: 380px) {
      grid-template-columns: 335px;
      grid-column-start: 1;
      grid-row-start: 2;
    }
  }

  &__search {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @media (max-width: 380px) {
      grid-row-start: 3;
      grid-column-end: 1;
      margin: 10px 0;
    }
  }

  &__sort {
    grid-row-start: 2;
    grid-column-start: 3;

    &_right {
      float: right;
    }
  }

  &__table {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 32px;
    @media (max-width: 380px) {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column-end: 1;
      margin: 0;
    }
  }

  &__controls {
    grid-row-start: 1;
  }

  &__change-avatar {
    grid-row-start: 3;
  }

  &__fields {
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 860px;
    @media (max-width: 380px) {
      grid-template-columns: 100%;
    }
  }

  &__field {
    &_name {
      grid-row-start: 1;
    }

    &_email {
      grid-row-start: 2;
    }

    &_gender {
      grid-column-start: 2;
      @media (max-width: 380px) {
        grid-column-start: 1;
        grid-row-start: 6;
      }
    }

    &_color {
      grid-column-start: 2;
      @media (max-width: 380px) {
        grid-column-start: 1;
        grid-row-start: 7;
      }
    }

    &_speciality {
      grid-row-start: 3;
    }

    &_group {
      grid-row-start: 4;
    }

    &_rating {
      grid-row-start: 5;
    }
    &_age{
      grid-row-start: 6;
      @media (max-width: 380px) {
        grid-row-start: 8;
      }
    }

    &_button {
      grid-row-start: 7;
      margin: 40px 0;
      @media (max-width: 380px) {
        grid-row-start: 9;
      }
    }
  }
}

.field {
  display: inline-block;
  width: 100%;

  &_length {
    &_short {
      max-width: 180px;
    }

    &_medium {
      max-width: 380px;
      @media (max-width: 380px) {
        max-width: 335px;
      }
    }

    &_long {
      max-width: 980px;
      @media (max-width: 380px) {
        max-width: 335px;
      }
    }
  }

  &_type_search {
    position: relative;
    flex-shrink: 1;
    height: 48px;
  }

  &_type_search::before {
    width: 19px;
    height: 19px;
    position: absolute;
    content: "";
    background: url("../static/search-icon.svg");
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
  }

  &__label {
    margin-bottom: 8px;
  }

  &__input {
    height: 48px;
    background: #FFFFFF;
    box-shadow: $shadow;
    border-radius: 6px;
    border: none;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;

    &_type_search {
      padding-left: 55px;
    }
  }

  &__icon {
    &_dropdown::before {
      width: 9px;
      height: 7px;
      content: "";
      position: absolute;
      background: url(/static/dropdown-icon.svg) no-repeat;
      right: 26px;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }

  &__container {
    position: relative;
  }
}

.button {
  width: 100%;
  height: 50px;
  background: #49C2E8;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &_width {
    &_short {
      max-width: 340px;
    }

    &_long {
      max-width: 380px;
      @media (max-width: 380px) {
        max-width: 335px;
      }
    }
  }

  &__icon_plus {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;

    &::before {
      width: 2px;
      height: 16px;
      background: #FFFFFF;
      display: block;
      position: absolute;
      content: "";
      border-radius: 1px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &::after {
      width: 16px;
      height: 2px;
      background: #FFFFFF;
      display: block;
      position: absolute;
      content: "";
      border-radius: 1px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: white;
  }
}

.bucket {
  width: 30px;
  height: 30px;
  box-shadow: 0 0 16.3715px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #FFFFFF;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}

.users-table {
  width: 100%;

  &__body {
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }

  &__header {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    padding-bottom: 16px;
  }

  &__row {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  &__cell {
    padding: 15px 17px 0 19px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.6);
  }

  &__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.color-select {
  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 6px 0 0;
    box-shadow: $shadow;
    border-radius: 6px;
    padding: 20px 25px;
    position: absolute;
    width: 380px;
    box-sizing: border-box;
    background: #FFFFFF;
    z-index: 1;
  }

  &__input {
    display: none;
  }

  &__label {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
  }
  &__color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
  }

}

.change-avatar {
  width: 228px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__input {
    display: none;
  }

  &__size {
    margin: 8px 0 0 0;
  }

  &__label {
    text-decoration: underline;
    cursor: pointer;
  }
}

.controls__title {
  font-family: Geometria, serif;
  font-style: normal;
  font-weight: 500;
  padding-left: 24px;
  position: relative;

  &::before {
    width: 20px;
    height: 16px;
    display: inline-block;
    position: absolute;
    content: "";
    left: 0;
    background: url(/static/arrow-left.svg);
  }
}

.card {
  max-width: 335px;
  height: 170px;
  box-shadow: $shadow;
  border-radius: 6px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0, 0.05);
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.6);
  }

  &__title {
    margin: 0;
  }

  &__color {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 13px;
  }

  &__rating {
    display: inline-block;
  }

  &__star {
    margin-right: 13px;
  }

  &__list {
    padding-left: 80px;
    list-style: none;
  }

  &__item::before {
    content: "\2022";
    color: #49C2E8;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

@media (max-width: 380px) {
  .sort {
    display: none;
  }
}
